* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
}

/* IMAGE SECTION */

#image-section {
  height: 100vh;
  width: 50vw;
  background-color: #e899dc;
  background-image: linear-gradient(315deg, #e899dc 0%, #d387ab 74%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* MESSAGE SECTION */

#message-section {
  height: 100vh;
  width: 50vw;
  background-color: #fefefa;
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
}

#message-body {
  height: 100%;
  font-family: "Prompt", sans-serif;
}

.header {
  width: 100%;
  text-align: center;
  font-family: "Dancing Script", cursive;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#body-container p {
  font-size: 1.05rem;
  padding: 1rem;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

.message {
  height: 66.99%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#message-paragraph {
  height: 100%;
}

#message-paragraph p {
  padding: 0.5rem;
  font-size: 1.25rem;
  color: black;
}

h2 {
  font-size: 3rem;
  padding: 1rem;
  color: white;
}

footer p {
  color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  main {
    flex-direction: column;
  }

  #image-section {
    height: 50vh;
    width: 100vw;
  }

  #message-section {
    height: 100vh;
    width: 100vw;
    align-items: normal;
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 4.5rem;
  }

  .message {
    height: 100vh;
    padding: 1.5em;
  }

  .message h2,
  p {
    margin: 1.5em;
  }

  .message p {
  }
}
